/DTAR_08E86330_4835_4B5C_9E5A_61F37AE1A077_DTAR
/obj
/artifacts
/Cross.WebHost/node_modules
/Cross.Framework/bin
/Cross.WebHost/bin
/Cross.Entities/bin
/Cross.DTO/bin
/Cross.DbFactory/bin
/Cross.BLL/bin
