
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <link rel="shortcut icon" href="~/favicon.ico" />
</head>
<body>
<div>
      顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶
</div>
</body>
</html>